

/*
* Colors
*/
$color-primary: #0F1020;
$color-secondary: #876585;
$color-tertiary: #0F1020;


// $color-light: #e0cff0;
$color-light: #e9ddf5;
$color-dark: #2f4858;
$color-gray: #676768;
$color-border: #eff0f7;
$color-success: #00b374;
$color-warning: #ffbb1c;
$color-danger: #ca3604;
$color-shadow: rgba(1, 6, 33, 0.06);
$bg-one: #D5C6E0;

